# Instagram API
IG_ACCESS_TOKEN=your_instagram_access_token
IG_USER_ID=your_instagram_user_id

# Django
SECRET_KEY=django_secret_key
DEBUG=True

# PostgreSQL
POSTGRES_DB=insta_sync
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432